//COLORS
$primaryColor: #411F89;
$secondaryColor: #341a6d;
$softBlack: rgb(10, 10, 10);
$softWhite: rgb(230, 230, 230);
$detailColor: rgb(202, 202, 202);
$darkColor: #2C165C;
$lightBlack:rgb(22, 22, 22);